.evaluationBarWhite {
  width: var(--eval-bar-width, 50px);
  background-color: black;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column-reverse;
}


.evaluationBarBlack {
  width: var(--eval-bar-width, 50px);
  background-color: black;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}


.evaluationWhite {
  width: 100%;
  background-color: white;
  transition: height 0.3s ease;
}

.evaluationText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
