.container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 5vw;
}

.boardContainer {
  display: flex;
  gap: 6px;
  margin-left: 2vw;
}

[id^="click-or-drag-to-move-square"] span span {
  font-size: 24px !important;
}

.AnalyzeSidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* change to App.module.css */
