.classificationBreakdown {
  width: clamp(350px, 28vw, 450px);
  max-width: 100%;
  box-sizing: border-box;
  padding: 8px 6px;
  background-color: #252525;
  color: #f2f2f2;
}

.classificationHeader {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 0.6fr 0.7fr;
  align-items: center;
  margin-bottom: 6px;

  font-size: 16px;
  font-weight: 700;
  color: #f2f2f2;
}

.classificationRow {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 0.6fr 0.7fr;
  align-items: center;
  min-height: 34px;
}

.classificationLabel {
  font-size: 18px;
  font-weight: 500;
}

.classificationCount {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.classificationIcon {
  width: 30px;
  height: 30px;
  justify-self: center;
}
