.evaluationBar {
  width: 50px;
  background-color: black;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column-reverse;
}

.evaluationWhite {
  width: 100%;
  background-color: white;
  transition: height 0.3s ease;
}

.evaluationTextWhite {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);

  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.evaluationTextBlack {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}